[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */test/*
    */pypy/*
    */nose/*
    */.*/*
    */*.egg-info/*
exclude_lines =
    pragma: no cover
    raise err
    except ImportError
    yaml = none
    raise BoxError\("_box_config key must exist
    raise err
    if "box_class" in self.__dict__:
    raise BoxError\(f"File
    except OSError
    raise BoxError\(f"{filename}
    item._box_config["__box_heritage"] = \(\)
    raise BoxKeyError\(err
    (.*)is unavailable on this system
    def to_
    def from_
    warnings.warn
    @classmethod
    no package is available to open it
