[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */test/*
    */pypy/*
    */nose/*
    */.*/*
    */*.egg-info/*
exclude_lines =
    pragma: no cover
    raise err
    except ImportError
    yaml = none
    object.__setattr
    object.__delattr
    if item == '__box_config'
    raise BoxError\('_box_config key must exist
    raise err
