repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    # Identify invalid files
    - id: check-ast
    - id: check-yaml
    - id: check-json
    - id: check-toml
    # git checks
    - id: check-merge-conflict
    - id: check-added-large-files
      exclude: ^test/data/.+
    - id: detect-private-key
    - id: check-case-conflict
    # Python checks
    - id: check-docstring-first
    - id: debug-statements
    - id: requirements-txt-fixer
    - id: fix-encoding-pragma
    - id: fix-byte-order-marker
    # General quality checks
#    - id: mixed-line-ending
#      args: [--fix=lf]
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]
    - id: check-executables-have-shebangs
    - id: end-of-file-fixer
      exclude: ^test/data/.+

- repo: https://github.com/ambv/black
  rev: 24.4.2
  hooks:
    - id: black
      args: [--config=.black.toml]

- repo: local
  hooks:
    - id: cythonize-check
      name: Cythonize
      entry: pip install -e .
      language: system
      types: [python]
      pass_filenames: false
    # cythonize must come before the pytest to make sure we update all c code
    - id: pytest-check
      name: Check pytest
      entry: pytest
      language: system
      pass_filenames: false
      always_run: true

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.10.0'
  hooks:
    - id: mypy
      types: [python]
      additional_dependencies: [ruamel.yaml,toml,types-toml,tomli,tomli-w,msgpack,types-PyYAML]
